<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
     {{>header}}
    </header>
    <main>
      <article id="data">
        <h1>Find Location</h1>
        <p><b>City:</b> {{name}}</p>
        <p><b>Longtitude:</b> {{lon}}</p>
        <p><b>Latitude:</b> {{lat}}</p>
        <p><b>Temperature:</b> {{temp}}°</p>
        <p><b>Feels Like:</b> {{feelsLike}}°</p>
      </article>
    </main>
    <footer id="findFooter">
      {{>footer}}
    </footer>
  </body>
  <script src="/app.js"></script>
</html>